nav .logo{
    width: 60px;
    transition: all 2s;
}
nav .logo:hover{
     filter: drop-shadow(0 0 10px #001f4d) drop-shadow(0 0 20px #003366);
}
ul{
    list-style-type: none;
}
nav{
    background-color: #EEEEEE;
}
li a{
    color: #11224E;
}


.hero-section {
  width: 100vw;             
  height: 100vh;       
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/child.jpg");
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;  
  align-items: center;      
  color: white;       
  text-align: center;
  background-repeat: no-repeat;
}
.image-container {
  position: relative;          /* لازم عشان overlay يكون فوق الصورة */
  width: 300px;                /* عرض الصورة */
  height: 200px;               /* ارتفاع الصورة */
  overflow: hidden;            /* يخلي النص مش يخرج عن الصورة */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;           /* الصورة تغطي مساحة الكرت */
  display: block;
}

.btn{
     color: #001f4d;
    background-color: rgba(240, 221, 14, 0.957);
    padding: 5px;
    margin: 10px;
    transition: all 2s;
    padding: 10px;
    width: 100px;
}
.btn:hover{
     filter: drop-shadow(0 0 10px #001f4d) drop-shadow(0 0 20px #003366);
}
.king {
    width: 300px; /* حسب حجم الصورة */
    animation: shake 2.5s infinite ease-in-out;
}

@keyframes shake {
    0% { transform: translateY(0); }
    25% { transform: translateY(-6px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(6px); }
    100% { transform: translateY(0); }
}
